body {
    margin: 0px;
    padding: 0px;
    background: url('../img/noise.png');
    color: #ffffff;
    font-weight: 400;
}

header {
    width: 400px;
    margin: auto;
    text-align: center;
}

li {
    list-style: none;
}

nav a {
    color: #ffffff;
}

section {
    background: #ffffff;
    padding: 15px;
    border-radius: 15px;
    color: #000000;
    width: 60vw;
    margin: auto;
    margin-bottom: 50px;
}



table,
th,
td,
tr {
    border: 1px solid #000000;
    border-radius: 8px;
    border-spacing: 10px;
    padding: 5px;
}

table {
    margin: 0 auto 30px;
}

section table:last-child {
    margin: 0 auto;
}

tbody {
    text-align: justify;
}

tfoot {
    text-align: center;
}

tfoot a {
    color: #000000;
    text-decoration: none;

}

a:link,
a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: red;
}